{% extends "base.html" %}
{% load static %}

{% block meta %}<title>Feedback</title>{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/feedback.css' %}">
<div class="flex flex-col">
    <div class="title-top">
        <div class="center" align="center">
            <h1 class="title" style="color:rgba(40, 37, 118, 0.911); font-family: Poppins; margin-top: 2%; margin-bottom: 2%;">Feedback</h1>
            <button class="btn btn-warning bg-custom" id ="buttonColor" type="submit" style="text-align: center;">Change</button>
        </div>
    <div class="row font2">
        <div class="col-sm-5">
            <div class="flex" style="margin-left: 10%; margin-right: 10%; margin-bottom: 10%;">
                <form action="#" method="POST" id="post-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Nama</label>
                        <input type="text" class="form-control" id="nama" placeholder="Ngapaini">
                    </div>
                    <div class="form-group">
                        <label>Feedback</label>
                        <textarea class="form-control" id="feedback" placeholder="Website ini sudah sangat bagus"></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg w-100 button2" style="font-size: 12px; margin-bottom: 5%;">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="wrapper" style="margin-top: 4%;">	
                <div class="accordion_wrapper" id="accordionWrapper">	
                    {% for x in model %}
                        <div class="accordion_item">
                            <div class="accordion_tab">{{ x.feedback }}
                                <div class="arrow">
                                    <img src="https://i.imgur.com/XuM2oTr.png" alt="arrow">
                                </div>
                            </div>
                            <div class="accordion_content">
                                {% if x.tanggapan == 0 %}
                                    <p>terima kasih </p>
                                {% else %}
                                    <p>{{ x.tanggapan }}</p>
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'js/feedback.js' %}"></script>
<script>
    function initAcordion(){
        $(".accordion_tab").click(function(){
            if ($(this).hasClass("active")){
                $(this).removeClass("active");
            } else {
                $(this).addClass("active");
            }
        });
    }
    
    function buat_feedback(){
        $.ajax({
        type:'POST',
        url: '{% url "feedback:addFeedback" %}',
        data:{
            nama:$('#nama').val(),
            feedback:$('#feedback').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: '#'
        },
        success:function(json) {
            document.getElementById("post-form").reset();
            console.log(json); // log the returned json to the console
            var newElem = $('#accordionWrapper').append(`
                <div class="accordion_item">
                    <div class="accordion_tab">${json.feedback}
                        <div class="arrow">
                            <img src="https://i.imgur.com/XuM2oTr.png" alt="arrow">
                        </div>
                    </div>
                    <div class="accordion_content">
                        ${('tanggapan' in json) ? json.tanggapan : 'terima kasih' }
                    </div>
                </div>
            `);

            initAcordion();
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText);
        }
    });
    }
    $('#post-form').on('submit', function(event){
        event.preventDefault();
        event.stopImmediatePropagation();
        console.log("form submitted!")
        buat_feedback();
        console.log("tes")
    });
</script>
{% endblock %}
