{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img profile-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ author.username }}</h2>
            <p class="text-secondary">{{ author.email }}</p>
            <a href="{% url 'users:profile_update'%}" style='color:gray;z-index:1;!important'>Update info</a>
        </div>
    </div>
    {% for post in posts %}
    <div class="row justify-content-center">
        <div class="container special-container m-3" style="background-color:rgba(40, 37, 118, 0.911); color:white;">
            <div class="row">
                <div class="col-1">
                    <img class="rounded-circle account-img-post" src="{{ post.author.profile.image.url }}">
                </div>
                <div class="col-11" style="padding-top: 0.5%;">
                    <h3 id="contentitle"><a href="{% url 'postcontents:contents' post.id %}" style="color:rgb(255, 175, 146)">{{ post.title }}</a></h1>
                        <h6 id="contentuser">{{ post.author }} posted</h6>
                        <h8 id="contentdate">{{ post.time }}</h8>
                </div>
            </div>
            <p id="thecontent">{{ post.content }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}