{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container special-container">
        <form method="POST">
        {% csrf_token %}
            <fieldset class="form-group form-style">
                <legend class = "border-bottom mb-4">Sign Up</legend>
                {{ form|crispy }}
            </fieldset>
            <div id="alert-username" style="text-align:center;"></div>
            <div class="form-group form-style">
                <button class="btn btn-dark bg-custom" type="submit">Sign Up</button>
                <p class='pt-2'>Users created : {{ usercount }}</p>
            </div>
        </form>
        <div class ="border-top pt3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'users:login' %}">Log In</a>
            </small>
        </div>
    </div>

{% endblock content %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#id_username").keyup(function(){
        var username = $("#id_username").val();
        console.log(username);
        if(username.length < 4){
            $("#alert-username").empty();
            $("#alert-username").append(
                "<p style='color:hotpink;'>Username too short</p>"
            )
        }
        else {
            $.ajax({
                url : "/search-username/",
                success : function(data){
                    var taken = false;
                    console.log(data);
                    $("#alert-username").empty();
                    for (i = 0 ; i < data.length ; i++){
                        if(username == data[i].fields.username){
                            console.log(data[i].username);
                            taken = true;  
                            break;
                        }    
                    }
                    if(taken == true){
                        $("#alert-username").append(
                            "<p style='color:hotpink;'>Username already taken</p>"
                        )
                        console.log("taken");
                    }
                    else {
                        $("#alert-username").append(
                            "<p style='color:yellow;'>Username not taken yet but please check again if it's following the criteria</p>"
                        )
                    }
                }
            })
        }
        
    })

    $("button").click((event)=> {
        event.preventDefault();
        var username = $("#id_username").val();
        console.log(username);
        var pass1 = $("#id_password1").val();
        var pass2 = $("#id_password2").val();
        if(pass1 != pass2){
            alert('password different')
        }
        else{
            $.ajax({
                url : "/register/",
                data : $("form").serialize(),
                type : "POST",
                error : function(response){
                    alert("Please read again password's criteria / Username not valid")
                    
                },
                success : function(response){
                    console.log(window.location.hostname)
                    $().messagelist
                    window.location.assign({% url 'users:login'%})
                }
            })
        }
    })
})

</script>
{% endblock script %}
