@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
body {
    font-family: 'Rubik', sans-serif;
}


/* Background image in base*/

.backgroundimg {
    background-image: url("https://files.catbox.moe/mb0o33.png");
    position: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -99;
}

.form-style {
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
}

.text-muted {
    color: rgb(171, 231, 233) !important;
    padding: 1%;
    margin-top: 1%;
}

.container {
    margin-top: 6%;
    margin-bottom: 15%;
}

.container2 {
    margin-top: 14%;
}

.container3 {
    margin-top: 100px;
}

.special-container {
    background-color: rgba(40, 37, 118, 0.911);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    width: 70%;
    color: rgb(255, 175, 146);
}

.navbar {
    display: flex;
    background-color: #5E73A6;
    font-size: 20px;
    height: 30%;
}

.form-container {
    background-color: #C0E7DF;
    color: #41537D;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    width: 70%;
    margin-bottom: 15%;
}

.form-container .form-style {
    text-align: justify;
}

.form-container .btn {
    text-align: center;
}

.navbar-brand {
    font-size: 27px;
    color: white;
}

#footer {
    background-color: #5E73A6;
    margin: 10% 0px 0px 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    font-size: 10px;
    text-align: center;
    color: white;
    z-index: 1;
}

.account-img-post {
    width: 55px;
    height: 55px;
    background-size: cover;
    background-position: center center;
    background-image: url('http://placehold.it/50x50');
    object-fit: cover;
    object-position: center center;
    margin-top: 0.3rem;
}

.account-img {
    position: relative;
    width: 250px;
    height: 250px;
    background-image: url('http://placehold.it/250x250');
    object-fit: cover;
    object-position: center center;
    z-index: 4 !important;
}

.media {
    text-align: center;
    display: block;
}

.media-body {
    color: white;
    background-color: rgba(40, 37, 118, 0.911);
    margin-top: -10%;
    border-radius: 30px;
    z-index: 3;
    position: relative;
    padding-block-start: 14%;
    padding-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.text-secondary {
    color: bisque !important;
}

.account-heading {
    margin-top: -2%;
}

.home-container {
    background-color: #C0E7DF;
    border-radius: 10px;
}

.detail-container {
    padding-top: 10px;
    width: 70%;
    background: #C0E7DF;
    margin-bottom: 0;
    border-radius: 10px;
    margin-top: 0;
}

.comment-container {
    width: 70%;
    background: #C0E7DF;
    border-radius: 10px;
    padding-top: 0.8%;
    margin-bottom: 0;
}

.content-container {
    margin-right: auto;
    margin-left: auto;
}

.account-img-comment {
    width: 45px;
    height: 45px;
    background-size: cover;
    background-position: center center;
    background-image: url('http://placehold.it/50x50');
    object-fit: cover;
    object-position: center center;
}

#contentdate {
    font-size: x-small;
    ;
    margin-bottom: 20%;
}

#thecontent {
    word-wrap: break-word;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#contentuser {
    margin-bottom: 0;
}

#thecontent {
    font-size: large;
}

#comment-user-name {
    font-size: 0.8rem;
}

#commentdate {
    font-size: x-small;
}

#comment {
    word-wrap: break-word;
    margin-bottom: 0.6rem
}

#comment-button {
    position: absolute;
    top: 5px;
    border-radius: 5px;
    background-color: #FFF5EB;
}

#contentitle {
    font-weight: bold;
    margin-bottom: 0;
}