{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% block page_title %}
{% endblock page_title %}
{% endblock meta %}

{% block content %}
<div class="container form-container">
    <form method="POST">
    {% csrf_token %}
        <fieldset class="form-group form-style">
            <legend class = "border-bottom mb-4" style="text-align: center;"><b>Any Ideas What to do?</b></legend>
            {{ form }}
        </fieldset>
        <div class="form-group form-style">
            <button class="btn btn-warning bg-custom" type="submit" style="text-align: center;">Suggest!</button>
        </div>
    </form>
</div>
{% endblock content %}