{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% block page_title %}
    {{page_title}}
{% endblock page_title %}
{% endblock meta %}


{% block content %}
<div class="container-sm">
  <h3 class="mt-5 text-center"><b>User Suggestions</b></h3>
</div>

<div class="container-fluid">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
            {% for x in post %}
          <tr>
            <td><a href="{% url 'postcontents:contents' x.id %}">{{x.title}}</a></td>
            <td>{{x.time}}</td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock content %}