{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% block page_title %}
{% endblock page_title %}
{% endblock meta %}

{% block content %}
  <div class="container" style="margin-top: -45px; margin-bottom: -45px;">
    <div class="container detail-container" style="margin-bottom: 15px; text-align: center; padding-top: 5px; padding-bottom: 5px;">
      <a href="{% url 'form:add' %}">Post what you think...</a> <!--link to create post-->
    </div>
    <br>

    {% if count_post == 0 %}
      <div class="container detail-container" style="margin-bottom: 0; text-align: center; padding-bottom: 1px;">
        <p>Nothing here. Add the new post.</p>
      </div>
    {% else %}
      {% for post in postingan %}
        <div class="container" style="width: 100%; margin-bottom: 20px; margin-top: 0;">
          <div class="row justify-content-center">
              <div class="container detail-container" style="margin-bottom: 0">
                <div class="row">
                  <div class="col-1">
                      <a href="{% url 'postcontents:otherprofile' parameter=post.author.username %}">
                          <img class="rounded-circle account-img-post" src="{{ post.author.profile.image.url }}">
                      </a>
                  </div>
                  <div class="col-11" style="padding-top: 0.5%;">
                      <h3 id="contentitle">{{ post.title }}</h1>
                          <a href="{% url 'postcontents:otherprofile' parameter=post.author.username %}" style="color: black;">
                              <h6 id="contentuser">{{ post.author }} posted</h6>
                          </a>
                          <h8 id="contentdate">{{ post.time }}</h8>
                  </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-11">
                        <p id="thecontent" style="padding-bottom: 0;">{{ post.content }}</p>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-end">
                  <a class="p-2"  style="margin-top: -8px;" href="{% url 'postcontents:contents' post.id %}">Comment</a>
                  <p id="ccount{{post.id}}" style="margin-right: 5px;"></p>
                  <p>|</p>
                  <a class="likebutton p-2"  style="margin-top: -8px;" id="like{{post.id}}" href="#" data-catid="{{ post.id }}" title=""></a>
                  <p id="count{{post.id}}"></p>
                </div>
              </div>
          </div>
          <p class="action" id="action{{post.id}}" style="text-align: center;"></p>
        </div>
        <br>
      {% endfor %}
    {% endif %}
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    var l_post = {{like_post|escapejs}};
    var l_count = {{like_count|escapejs}};
    var p_id = {{pos_id|escapejs}};
    var c_count = {{comment_count|escapejs}};

    p_id.forEach(id_pos => {
      if (l_post[id_pos]) $("#like" + id_pos).attr("title", "You're Like This Post");
      document.getElementById("like" + id_pos).innerHTML = l_post[id_pos] ? "Liked!" : "Like It!";
      document.getElementById("count" + id_pos).innerHTML = l_count[id_pos];
      document.getElementById("ccount" + id_pos).innerHTML = c_count[id_pos];
    });

    $(document).ready(function() {
      $('.action').slideUp(0);
    });

    $('.likebutton').click(function(){
      var catid = $(this).attr("data-catid");
      var like_ = document.getElementById("like" + catid).textContent;
      var count_like = parseInt(document.getElementById("count" + catid).textContent);
      var x_coord = $(document).scrollTop();
      $.ajax({
        type: "GET",
        url: "{% url 'main:kudos' %}",
        data: {post_id: catid},
        success: function(data) {
          if (like_ == "Liked!") $("#like" + catid).attr("title", "");
          else $("#like" + catid).attr("title", "You're Like This Post");
          
          $('#action' + catid).slideDown(300);
          document.getElementById("action" + catid).innerHTML = data;
          document.getElementById("like" + catid).innerHTML = (like_ == "Liked!") ? "Like It!" : "Liked!";
          document.getElementById("count" + catid).innerHTML = (like_ == "Liked!") ? count_like - 1 : count_like + 1;
          $('#action' + catid).delay(5000).slideUp(300);
          window.scrollTo(0, x_coord);
        }
      });
    });
  </script>
{% endblock content %}
