{% extends "base.html" %} {% block meta %} {% endblock meta %}{% load static %} {% block content %}
<script src="{% static 'js/comment.js' %}"></script>

<div class="container" style="width: 100%; height: 100%;padding-bottom: 30%;margin-top: 0;">
    <div class="row justify-content-center">
        <div class="container detail-container">
            <div class="row">
                <div class="col-1">
                    <a href="{% url 'postcontents:otherprofile' parameter=postcontent.author.username %}">
                        <img class="rounded-circle account-img-post" src="{{ postcontent.author.profile.image.url }}">
                    </a>
                </div>
                <div class="col-11" style="padding-top: 0.5%;">
                    <h3 id="contentitle">{{ postcontent.title }}</h1>
                        <a href="{% url 'postcontents:otherprofile' parameter=postcontent.author.username %}" style="color: black;">
                            <h6 id="contentuser">{{ postcontent.author }} posted</h6>
                        </a>
                        <h8 id="contentdate">{{ postcontent.time }}</h8>
                </div>
            </div>
            <div class="row">
                <div class="col-1">

                </div>
                <div class="col-11">
                    <p id="thecontent">{{ postcontent.content }}</p>
                </div>
            </div>
            <div class="card-footer" style="text-align: left; background-color: rgba(0, 0, 0, 0);padding-bottom: 0.01%;width: 100%;">
                <div class="form-group-horizontal">
                    <form method='POST'>
                        <div class="row justify-content-left" style="width: 100%;">
                            <div class="col-11">
                                {% csrf_token %} {{ commentform.as_p }}
                            </div>
                            <div class="col-1">
                                <input class="form-control" id="comment-button" value='Post' style="top: 0;left: -5%;" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="comment-wrapper"></div>
</div>
{% if user.is_authenticated %}
<input type="hidden" id="logged" value="true" /> {% else %}

<input type="hidden" id="logged" value="false" /> {% endif %} {% endblock content %}